{__NOLAYOUT__}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>代理登录页面_{$_CFG.site.name}</title>
<link rel="stylesheet" href="__PUBLIC__/admin/css/style.default.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/custom/general.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/custom/index.js"></script>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="loginpage">
	<div class="loginbox">
    	<div class="loginboxinner" style="position:relative;">
        	
            <div class="logo">
            	<h1 class="logo">efucms<span>小说漫画</span></h1>
				<span class="slogan">代理管理系统</span>
            </div><!--logo-->
            
            <br clear="all" /><br />
			
			<notempty name='errmsg'>
			<div class="errmsg">
				<div class="loginmsg">{$errmsg}</div>
			</div><!--nousername-->
			</notempty>
            
            <form id="signUp" method="post">

                <div class="username">
                    <div class="usernameinner">
                        <input type="text" name="name" id="name" placeholder="请输入作者平台名称" />
                    </div>
                </div>

                <div class="username">
                    <div class="usernameinner">
                        <input type="text" name="username" id="username" placeholder="请输入用户名" />
                    </div>
                </div>

                <div class="username">
                    <div class="usernameinner">
                        <input type="text" name="mobile" id="mobile" placeholder="请输入电话号码" />
                    </div>
                </div>
                
                <div class="password">
                	<div class="passwordinner">
                    	<input type="password" name="tpassword" id="tpassword" placeholder="请输入密码" />
                    </div>
                </div>
                
                <button>注册</button>

                <div class="keep"></div>

            </form>
            <a href="{:U('Index/login')}" class="sign-up"  style="position: absolute;right: 20px;bottom: 20px;color: #f08323;cursor: pointer;">登录</a>
        </div><!--loginboxinner-->
    </div><!--loginbox-->


</body>
</html>
